/* Colores por facción */
.imperio {
  background-color: red;
}

.rebeldes {
  background-color: blue;
}

/* IDs personalizados */
#darth-vader {
  font-size: 1.5em;
}

#luke {
  font-style: italic;
}

/* Soldados */
.soldados {
  border: 2px dashed black; /* Ejemplo de borde a rayas */
  letter-spacing: 2px;
}

/* Unidades de apoyo */
.unidades-apoyo {
  text-align: center;
}

/* Naves */
.naves {
  text-transform: uppercase;
}
